<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1> Trabajo Actual </h1>
         <h3>(2022-Actual)</h3>
      </li>
        <p> Lorem ipsum dolor sit amet
            consectetur adipisicing elit.
            Nihil nulla nostrum nam consequuntur
            nisi! Molestias earum,
            soluta aut quaerat ipsa eligendi
            iventore sint hic at
            molestiae aliquid quasi ab dolor?
        </p>
    </ul>
    <ul>
          <li>
            <h1> Trabajo 2 </h1>
            <h3>(2021-2022)</h3>
          </li>
          <p> Lorem ipsum dolor sit amet
            consectetur adipisicing elit.
            Nihil nulla nostrum nam consequuntur
            nisi! Molestias earum,
            soluta aut quaerat ipsa eligendi
            iventore sint hic at
            molestiae aliquid quasi ab dolor?
          </p>
    </ul>
    <ul>
           <li>
              <h1> Trabajo 3 </h1>
              <h3>(2020-2021)</h3>
           </li>
              <p> Lorem ipsum dolor sit amet
                consectetur adipisicing elit.
                Nihil nulla nostrum nam consequuntur
                nisi! Molestias earum,
                soluta aut quaerat ipsa eligendi
                iventore sint hic at
                molestiae aliquid quasi ab dolor?
              </p>
     </ul>
  </div>
</div>>
