<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP">
    </div>

    <div class="redes">
      <div>
        <a href=""> <img src="../../../assets/../assets/InLogo.png" id="InLogo"></a>
        <a href=""> <img src="../../../assets/../assets/LiLogo.png" id="LiLogo"></a>
        <a href=""> <img src="../../../assets/../assets/GmLogo.png" id="GmLogo"></a>
        <a href=""> <img src="../../../assets/../assets/FaLogo.png" id="FaLogo"></a>
        <a href=""> <img src="../../../assets/../assets/GhLogo.png" id="GhLogo"></a>
        <button type="button" class="btn  btn-outline-light">INGRESO</button>
      </div>

    </div>

  </div>

</div>
